body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient( black 50%,rgb(182, 27, 213)130%);

}

nav {
    font-size: 20px;
    display: flex;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    padding: 0;
}

#cabecalho {
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    height: 30px;
    width: 22%;
    padding: 5px;
}

.logo {
    float: left;
    width: 100px;
    height: 10px;

}

.logo_img {
    position: absolute;
    height: 50px;
    width: 55px;
    margin-top: -5px;
    margin-left: -50px;

}

/* link que ainda não foi visitado */
a:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;

}

/* link que foi visitado */
a:visited {
    color: white;
}

/* mouse over */
a:hover {
    text-decoration: underline;
    color: purple;
    font-weight: bold;
}

/* link selecionado */
a:active {
    color: #9b9b9b;
}

.titulo {
    background-image: url("../IMG/onu.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: purple;
    margin-top: 10px;
}

h1 {
    font-size: 70px;
    color: whitesmoke;
    margin-top: 330px;
    margin-left: 0px;
}

blockquote {
    font-family: 'Lily Script One', cursive;
    color: white;
    width: 40%;
    display: inline-block;
    margin-left: 70px;
    margin-top: 1px;
    margin-bottom: 10px;
}


footer {
    font-style: inherit;
    text-align: center;
    padding: 10px;
    margin-top: 70px;
    border: 0;
}

@media(max-width:800px) {


}

