body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#9F8FD9, rgb(207, 99, 229)) no-repeat;
}

nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    word-spacing: 100px;
    border: 0;
    padding: 0;
}

.titulo {
    background-image: url("../IMG/bts.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

h1 {
    background-color: #0D1940;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 500px;
}

/* link que ainda não foi visitado */
a:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;


}

/* link que foi visitado */
a:visited {
    color: black;
}

/* mouse over */
a:hover {
    text-decoration: none;
    background: purple;
    color: #FFF;
    font-weight: bold;
}

/* link selecionado */
a:active {
    color: red;
}

.playlists {
    margin-top: 50px;
    margin-left: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.bts {
    margin-left: 25px;
}

footer {
    font-style: inherit;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    border: 0;
}

@media(max-width:800px) {
    nav {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        word-spacing: 30px;

    }

    .titulo {
        background-image: url("../IMG/bts.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 300px;
    }

    h1 {
        font-size: 18px;
        margin-top: 250px;
        margin-left: 0px;
    }

    .playlists {
        margin-top: 40px;
        margin-left: 0px;
        flex-wrap: wrap;
        justify-content: column;
        width: 100px;
        height: 100px;

    }

    .bts {
        margin-left: 3px;
    }
}