body {
    background-color: #9F8FD9;
}

nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    word-spacing: 100px;
    border: 0;
    padding: 0;
}

h1 {
    align-items: center;
   color: purple;

}

/* link que ainda não foi visitado */
a:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;


}

/* link que foi visitado */
a:visited {
    color: black;
}

/* mouse over */
a:hover {
    text-decoration: none;
    background: purple;
    color: #FFF;
    font-weight: bold;
}

/* link selecionado */
a:active {
    color: red;
}

.container {
    margin-left: 180px;
    display: flex;
    height: 100vh;
    width: 70%;
    flex-flow: row wrap;
    justify-content: space-around;

}

._img {
    text-align: center;
    width: 200px;
    margin: 12px;
    margin-top: 35px;
    margin-bottom: 30px;
}


h2 {
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 0.1px;
    margin-bottom: 0rem;
    margin-left: 40px;
    margin-right: 10px;
}

footer {
    display: block;
    font-style: inherit;
    background-color: #9F8FD9;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 1px;
    border: 0;
}
