body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(black 100%, rgb(182, 27, 213)10%) no-repeat;
}

nav {
    font-size: 20px;
    display: flex;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
    padding: 0;
}

.container {
    background: linear-gradient(black 10%, rgb(182, 27, 213)) no-repeat;
    display: flex;
    text-align: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;

}

.titulo {
    text-align: center;
    font-family: Helvetica;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: purple;
    -webkit-text-fill-color: white;
    height: 40px;
    width: 1800px;

}
#cabecalho {
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    height: 30px;
    width: 22%;
    padding: 5px;
}

.logo {
    float: left;
    width: 100px;
    height: 10px;

}

.logo_img {
    position: absolute;
    height: 50px;
    width: 55px;
    margin-top: -5px;
    margin-left: -50px;

}
._img {
    height: 30vh;
    width: 60%;
    background-position-x: center;
    margin-top: 3rem;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0%;
}

/* link que ainda não foi visitado */
a:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;

}

/* link que foi visitado */
a:visited {
    color: white;
}

/* mouse over */
a:hover {
    text-decoration: underline;
    color: purple;
    font-weight: bold;
}

/* link selecionado */
a:active {
    color: #9b9b9b;
}

h2 {
    font-family: Helvetica;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: purple;
    -webkit-text-fill-color: white;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 0.1px;
    margin-bottom: 0rem;
    margin-left: 40px;
    margin-right: 10px;
}

footer {
    background-color: rgb(182, 27, 213);
    height: 50px;
    width: 98.4%;
    font-style: inherit;
    padding: 10px;
    border: 0;
}

.rodapé {
    display: flex;
    margin-top: 35px;
    text-align: center;
    justify-content: center;
}

@media(max-width:800px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-left: 0%;
        margin-right: 0%;
    }
}